 <!-- Book -->
 <section class="book container" id="book">
    <img src="images/daan-evers-booking.jpg" alt="" class="book-img" />
    <div class="book-overlay"></div>
    <div class="book-data">
      <h2>
        Let's book a Table <br />
        For you
      </h2>
      <form action="book">
        <div class="input-box">
          <i class="bx bx-phone-call"></i>
          <input type="tel" name="" placeholder="Your Number" id="" />
        </div>
        <div class="input-box">
          <i class="bx bx-user"></i>
          <input type="number" name="" placeholder="People" id="" />
        </div>
        <a href="#" class="book-btn">Book Table</a>
      </form>
      <p>We will contact you to confirm your booking</p>
    </div>
  </section>