<section class="home container" id="home">
    <div class="home-text">
      <h1>
        Enjoy a new blend <br />
        of coffee beans
      </h1>
      <p>
        Brew or order a Perfect Coffee based on your mood Anywhere Anytime
      </p>
      <a href="#" class="btn home-btn">
        <span>Shop Now</span>
        <i class="bx bx-up-arrow-alt"></i>
      </a>
    </div>
    <!-- Home Image -->
    <!-- <img src="images/nick-hillier-hero-image.jpg" alt="" class="home-img" /> -->
  </section>