---
import ser1 from '../images/ser-1.png'
import ser2 from '../images/ser-2.png'
import ser3 from '../images/ser-3.png'
import ser4 from '../images/ser-4.png'
import ser5 from '../images/ser-5.png'
---
 
 <!-- Services -->
 <section class="services container" id="services">
    <!-- Heading -->
    <div class="heading">
      <h2>
        Blending culture, coffee & top <br />
        notch services
      </h2>
    </div>
    <div class="service-content">
      <div class="ser-box">
        <img src = {ser1.src } alt="" />
        <!-- <img src="./images/ser-1.png" alt="" /> -->
        <p>Equiment</p>
      </div>
      <div class="ser-box">
        <img src={ser2.src} alt="" />
        <p>Type Of Coffee</p>
      </div>
      <div class="ser-box">
        <img src={ser3.src} alt="" />
        <p>Take A Way</p>
      </div>
      <div class="ser-box">
        <img src={ser4.src} alt="" />
        <p>Beans Varient</p>
      </div>
      <div class="ser-box">
        <img src={ser5.src} alt="" />
        <p>Pastry</p>
      </div>
    </div>
  </section>