<!-- Team -->
<section class="team container" id="team">
    <div class="heading">
      <h2>Meet Our Experts</h2>
    </div>
    <!-- Team Content -->
    <div class="team-content">
      <div class="team-box">
        <img src="images/team-1.png" alt="" />
        <h2>Sara Zones</h2>
        <span>Co- Lead chef</span>
        <p>
          As a roaster we search the world over to establish relationships
          with great farmers cultivating great coffees,
        </p>
      </div>
      <div class="team-box">
        <img src="images/team-2.png" alt="" />
        <h2>Selena Zones</h2>
        <span>Lead chef</span>
        <p>
          As a roaster we search the world over to establish relationships
          with great farmers cultivating great coffees,
        </p>
      </div>
      <div class="team-box">
        <img src="images/team-3.png" alt="" />
        <h2>Taylor Zone</h2>
        <span>Co- Lead chef</span>
        <p>
          As a roaster we search the world over to establish relationships
          with great farmers cultivating great coffees,
        </p>
      </div>
    </div>
  </section>